<template>
    <div>
        <div class="text-center">
            <h2>Список пользователей по карточкам: </h2>
            <div class="row">
                <div class="col-12 col-sm-12 col-md-6 col-lg-8 col-xs-8">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-search"></i></span>
                        </div>
                        <input type="text" v-model="search" class="form-control" placeholder="Username">
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xs-4">
                    <select class="form-control" v-model="sorting" @change="sortBy(sorting)">
                        <option v-for="option in options"
                                :key="option.id"
                                :id="option.id"
                                :value="option.value"
                        >
                            {{option.title}}
                        </option>
                    </select>
                </div>
            </div>
        </div>
        <section class="row">
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xs-3" v-for="card in itemList" :key="card.id" :id="card.id">
                <div class="cards">
                    <div class="position">{{card.position}}</div>
                    <figure class="photo">
                        <img src="">
                    </figure>
                    <div class="id">ID: {{card.id}}</div>
                    <div class="inicial">{{card.last_name}} {{card.first_name}}</div>
                    <div class="phone">{{card.phone}}</div>
                    <div class="email">{{card.email}}</div>
                </div>
            </div>

        </section>
        <div class="text-center margin-10">
            <button :disabled="disableApi" @click="loadDataWithApi" class="btn btn-dark">Подгрузить еще <i class="fas fa-retweet"></i></button>
        </div>
    </div>
</template>

<script>
    import getApi from '../../../src/mixins/getApi'
    export default {
        name: "Cards",
        mixins: [getApi],
        data () {
            return {
                sorting: '',
                options: [
                    {id: 1, title: 'Сортировать по ID ASC', value: 'id'},
                    {id: 2, title: 'Сортировать по ID DESC', value: 'id'},
                    {id: 3, title: 'Сортировать по фамилии ASC', value: 'last_name'},
                    {id: 4, title: 'Сортировать по фамилии DESC', value: 'last_name'},
                    {id: 5, title: 'Сортировать по должности ASC', value: 'position'},
                    {id: 6, title: 'Сортировать по должности DESC', value: 'position'},
                    {id: 7, title: 'Сортировать по телефону ASC', value: 'phone'},
                    {id: 8, title: 'Сортировать по телефону DESC', value: 'phone'},
                    {id: 9, title: 'Сортировать по email ASC', value: 'email'},
                    {id: 10, title: 'Сортировать по email DESC', value: 'email'}
                ]
            }
        }
    }
</script>

<style scoped>
    .cards {
        border: 1px solid black;
        width: 240px;
        height: 340px;
        border-radius: 4px;
        overflow: hidden;
        margin: 5px 2px;
    }
    .position {
        font-weight: bold;
        text-align: center;
        margin: 10px;
        overflow: hidden;
        height: 24px;
    }
    .id, .phone, .inicial, .email {
        padding-left: 17px;
        width: 219px;
        overflow: hidden;
        height: 24px;
    }
    .photo {
        border: 1px solid black;
        width: 200px;
        height: 200px;
        margin: auto;
        background: url('../../static/picture/profile.jpg') no-repeat 50% 50%;
    }

    .margin-10 {
        margin: 10px 0;
    }
    .row {
        padding: 10px 0;
    }
</style>