<template>
    <div>
        <div class="text-center margin-10">
            <h2>Список пользователей по группам: </h2>
        </div>
        <section class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-10 col-xs-10 margin-btm-10">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="fas fa-search"></i></span>
                    </div>
                    <input type="text" v-model="search" class="form-control" placeholder="Username">
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-2 col-xs-2 text-center margin-btm-10">
                <button class="btn btn-dark" @click="func">Добавить группу <i class="fas fa-users"></i></button>
            </div>
        </section>
        <section class="row">
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xs-3" v-for="(name, index) in groupsByPosition" :id="index">

                <div class="text-left form-control field-users">
                    <span>{{name ? name : 'Нет группы'}}</span>
                    <i class="fas fa-users float-right icons-menu"></i>
                    <!--<i @click="showOrHide" class="fas fa-bars float-right icons-menu"></i>-->

                    <!--<ul :id="member+'Menu'" style="display: none" class="drop-menu">-->
                        <!--<li @click="itemSearch">Найти-->
                            <!--<i class="fas fa-search"></i>-->
                        <!--</li>-->
                        <!--<li>Сортировать с А-->
                            <!--<i class="fas fa-chevron-circle-down"></i>-->
                        <!--</li>-->
                        <!--<li>Сортировать с Z-->
                            <!--<i class="fas fa-chevron-circle-up"></i>-->
                        <!--</li>-->
                    <!--</ul>-->

                </div>
                <div :id="member+'Search'" style="display: none">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-search"></i></span>
                        </div>
                        <input type="text" class="form-control" placeholder="Username">
                    </div>
                </div>
                <div v-for="list in users" class="form-control field-users" v-if="list.group === name">
                    <div class="text-center bold sizing">{{list.group ? list.group : 'Нет группы'}}</div>
                    <div class="bold">Ф.И.О.:</div>
                    <div class="inicial-group sizing">{{list.first_name}} {{list.last_name}}</div>
                    <div class="bold">Телефон:</div>
                    <div class="sizing">{{list.phone}}</div>
                    <div class="bold">Email:</div>
                    <div class="email-group sizing">
                        <a :href="`mailto:${list.email}`">{{list.email}}</a>
                    </div>
                    <div class="bold">Должность:</div>
                    <div class="sizing">{{list.position}}</div>
                </div>
                <div class="text-center">
                    <button class="btn btn-dark" @click="func">Добавить пользователя <i class="fas fa-user-alt"></i></button>
                </div>
            </div>
        </section>
        <div class="text-center margin-10">
            <button :disabled="disableApi" @click="loadDataWithApi" class="btn btn-dark">Подгрузить еще <i class="fas fa-retweet"></i></button>
        </div>
    </div>
</template>

<script>
    import getApi from '../../../src/mixins/getApi'
    export default {
        name: "Groups",
        mixins: [getApi],
        data () {
            return {
                member: false,
                groups: [],
                sorting: '',
                options: [
                    {id: 1, title: 'Сортировать по фамилии ASC', value: 'last_name'},
                    {id: 2, title: 'Сортировать по фамилии DESC', value: 'last_name'},
                    {id: 3, title: 'Сортировать по должности ASC', value: 'position'},
                    {id: 4, title: 'Сортировать по должности DESC', value: 'position'},
                    {id: 5, title: 'Сортировать по телефону ASC', value: 'phone'},
                    {id: 6, title: 'Сортировать по телефону DESC', value: 'phone'},
                    {id: 7, title: 'Сортировать по email ASC', value: 'email'},
                    {id: 8, title: 'Сортировать по email DESC', value: 'email'}
                ]
            }
        },
        computed: {
            users () {
                let items = this.items
                if (this.search) {
                    items = _.filter(items, (obj) => {
                        for (let keys in obj) {
                            if (obj[keys] && obj[keys].toString().toUpperCase().indexOf(this.search.toUpperCase()) !== -1) {
                                return true
                            }
                        }
                        return false
                    });
                }
                return items
            }
        },
        methods: {
            // showOrHide (e) {
            //     e.target.nextSibling.style.display !== 'block' ? e.target.nextSibling.style.display = 'block' : e.target.nextSibling.style.display = 'none'
            // },
            // itemSearch (e) {
            //     e.target.offsetParent.children[1].style.display !== 'block' ? e.target.offsetParent.children[1].style.display = 'block' : e.target.offsetParent.children[1].style.display = 'none'
            // },
            func () {
                alert('Этого в задание не было... :)')
            }
        }
    }
</script>

<style scoped>
    .field-users {
        margin: 5px 0px;
    }
    .icons-menu:hover {
        color: #149783;
        cursor: pointer;
    }
    /*.drop-menu {*/
        /*list-style: none;*/
        /*color: #149783;*/
    /*}*/
    .drop-menu li:hover {
        color: #ED2939;
        cursor: pointer;
    }
    .bold {
        font-weight: bold;
    }
    .sizing {
        height: 24px;
        overflow: hidden;
    }
    .margin-10 {
        margin: 10px 0;
    }
    .margin-btm-10 {
        margin-bottom: 10px;
    }
</style>
