<template>
    <section>
        <div class="text-right margin-10">
            <span>Выбирите позицию из списка: </span>
            <select @change="checkPosition" v-model="selected">
                <option v-for="item in items"
                        :key="item.id"
                        :id="item.id"
                        :value="item.value"
                >
                    {{item.title}}
                </option>
            </select>
        </div>
        <tables v-if="showList === 'tables'"></tables>
        <cards v-if="showList === 'cards'"></cards>
        <groups v-if="showList === 'groups'"></groups>
    </section>
</template>

<script>
import Tables from './Tables'
import Cards from './Cards'
import Groups from './Groups'

export default {
    name: "List",
    components: {
        Tables,
        Cards,
        Groups
    },
    data () {
        return {
            selected: '',
            items: [
                {id: 1, title: 'Таблица', value: 'tables'},
                {id: 2, title: 'Карточки', value: 'cards'},
                {id: 3, title: 'Группы', value: 'groups'}
            ],
            showList: ''
        }
    },
    methods: {
        checkPosition () {
            this.showList = this.selected
        }
    }
}
</script>

<style scoped>
    .margin-10 {
        margin: 10px 0;
    }
</style>