<template>
    <div>
        <div class="text-center">
            <h2>Список пользователей в таблице: </h2>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-search"></i></span>
                </div>
                <input type="text" v-model="search" class="form-control" placeholder="Username">
            </div>
        </div>
        <section class="table-responsive">
            <table class="table table-bordered table-hover table-striped ">
                <thead>
                    <tr>
                        <th scope="col" @click="sortBy('id')">ID
                            <i :class="beforeSort"></i>
                        </th>
                        <td @click="sortBy('last_name')">Ф.И.О.
                            <i :class="beforeSort"></i>
                        </td>
                        <td  @click="sortBy('position')">Должность
                            <i :class="beforeSort"></i>
                        </td>
                        <td @click="sortBy('phone')">Телефон
                            <i :class="beforeSort"></i>
                        </td>
                        <td @click="sortBy('email')">Email
                            <i :class="beforeSort"></i>
                        </td>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="item in itemList" :key="item.id" :id="item.id">
                        <th scope="row">{{item.id}}</th>
                        <td>{{item.last_name}} {{item.first_name}}</td>
                        <td>{{item.position}}</td>
                        <td>{{item.phone}}</td>
                        <td>{{item.email}}</td>
                    </tr>
                </tbody>
            </table>
        </section>
        <div class="text-center">
            <button :disabled="disableApi" @click="loadDataWithApi" class="btn btn-dark">Подгрузить еще <i class="fas fa-retweet"></i></button>
        </div>
    </div>
</template>

<script>
    import getApi from '../../../src/mixins/getApi'
    export default {
        name: "Tables",
        mixins: [getApi]
    }
</script>

<style scoped>

</style>
