<template>
    <section class="text-center title">
        <h2>Добрый день!</h2>
        <h3>Добро пожаловать на тестовый проект по получению данных с сервера.</h3>
        <div>
            <p>В данном проекте Вы сможете ознакомиться с тестовым заданием,
            работа написана на Vue js с использованием Node js в качестве сервера.</p>
            <p>На <a class="linker">страничке списки <i class="fas fa-external-link-alt"></i></a> будет представлена работа в трех ее видах:</p>
            <ul class="list-item">
                <li>Таблички <i class="fas fa-table"></i></li>
                <li>Карточки <i class="fas fa-id-card"></i></li>
                <li>Плитки <i class="fas fa-receipt"></i></li>
            </ul>
            <p class="italic">Данная работа также адаптивна под планшеты <i class="fas fa-reply"></i>
                и мобильные версии <i class="fas fa-mobile-alt"></i></p>
        </div>
    </section>
</template>

<script>
    export default {
        name: 'hello'
    }
</script>

<style scoped>
    .title {
        padding-top: 100px;
    }
    .linker {
        color: #149783 !important;
    }
    .linker:hover {
        color: #ED2939 !important;
        text-decoration: underline !important;
        cursor: pointer;
    }
    .list-item {
        color: #ED2939;
        list-style: none;
    }
    .italic {
        font-style: italic;
        font-weight: 100;
    }
</style>
