<template>
    <footer class="footer container-fluid text-center">
        <div>Created by Andrew Ryngach</div>
        <div>8(903)801-0774</div>
    </footer>
</template>

<script>
    export default {
        name: "FooterKas"
    }
</script>

<style scoped>
    .footer{
        height: 50px;
        color: #a9a9a9;
        background-color: #333;
        font-weight: 300;
        position: fixed;
        bottom: 0;
        z-index: 2;
    }
</style>