<template>
    <header class="container-fluid header">
        <div class="container">
            <div class="block-menu">
                <button class="btn btn-light" @click="openMenu">
                    <i class="fas fa-bars"></i>
                </button>
            </div>
            <ul class="menu" v-show="menu">
                <li class="menu-item"><router-link to="/hello">Главная</router-link></li>
                <li class="menu-item"><router-link to="/list">Списки</router-link></li>
            </ul>
            <div>
                <figure class="logo float-right">
                    <img src="../static/picture/kaspersky-kllogo.gif">
                </figure>
            </div>
        </div>
    </header>
</template>

<script>
    export default {
        name: "HeaderKas",
        data () {
            return {
                menu: false
            }
        },
        methods: {
            openMenu () {
                this.menu = !this.menu
            }
        },
        mounted () {
            let main = document.getElementById('main')
            main.addEventListener('click', () => {
                this.menu = false
            })
        }
    }
</script>

<style scoped>
    .header{
        height: 50px;
        color: #a9a9a9;
        background-color: #333;
        font-weight: 300;
        position: fixed;
        z-index: 2;
    }
    .block-menu {
        margin-top: 5px;
    }
    .menu {
        position: absolute;
        top: 100%;
        z-index: 3;
        /*display: none;*/
        float: left;
        min-width: 10rem;
        padding: .5rem 0;
        margin: .125rem 0 0;
        font-size: 1rem;
        color: #212529;
        text-align: left;
        list-style: none;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid rgba(0,0,0,.15);
        border-radius: .25rem;
    }
    .menu-item {
        display: block;
        width: 100%;
        padding: .25rem 1.5rem;
        clear: both;
        font-weight: 400;
        color: #149783;
        text-align: inherit;
        white-space: nowrap;
        background-color: transparent;
        border: 0;
    }
    .menu-item:hover {
        background: rgba(0,0,0,.15);
        cursor: pointer;
        color: #ED2939;
        text-decoration: underline;
    }
    .logo {
        margin-top: -43px;
    }
</style>