<template>
  <div id="app">
    <header-kas></header-kas>
    <main id="main" class="container">
      <router-view class="view"></router-view>
    </main>
    <footer-kas></footer-kas>
  </div>
</template>

<script>
import HeaderKas from './components/HeaderKas.vue'
import FooterKas from './components/FooterKas.vue'
import List from './page/List/List.vue'
import Hello from './page/Hello/index'

export default {
    name: 'app',
    components: {
      HeaderKas,
      List,
      Hello,
      FooterKas
    }
}
</script>

<style scoped>
  main {
    padding-top: 70px;
    margin-bottom: 70px;
  }
</style>
